.main-page-content {
  padding-bottom: 260px;
}
.main-page-content > h1 { 
font-size: 41px;
margin-bottom: 60px;
}
.main-page-text p {
  margin-bottom: 36px;
}
.align-right {
text-align: right;
}
.align-right span {
  font-size: 14px;
line-height: 100%;
text-transform: uppercase;
color: rgba(17, 44, 65, 0.5);

}
.display-m-l {
  display: none;
}
.fixed-content-title {
  display: flex;
  flex-direction: column;
}
.fixed-content-title h2 {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 600;
  font-size: 46.2495px;
  line-height: 100%;
  text-transform: uppercase;
  color: #B1DEDB;
  text-align-last: right;
  margin-bottom: 5px;
}

.fixed-content-title .title {
  position: relative;
  font-weight: 500;
font-size: 14px;
line-height: 24px;
text-transform: uppercase;
color: rgba(177, 222, 219, 0.5);
margin-bottom: 20px;
}

.fixed-content-title .title::before {
  content: '';
    position: absolute;
    left: -12px;
    width: 2px;
    height: 24px;
    background: #B1DEDB;
}
.fixed-content-title p {
  font-family: 'Space Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
color: rgba(177, 222, 219, 0.7);


}

.fixed-content {
  padding-top: 50px;
  padding-left: 12px;
  padding-right: 12px;
  border-top-right-radius: 20px;
  background: rgba(177, 222, 219, 0.1);
  -webkit-clip-path: url(#fs-slider-s);
  clip-path: url(#fs-slider-s);
}
.background-transit {
  width: 100%;
  height: 250px;
  background: rgba(177, 222, 219, 0.1);
  margin-bottom: -250px;
}
.third-page {
  margin-top: 100px;
}
.third-page-content {
  background: transparent;
  margin-top: 0px;
  margin-bottom: -350px;
  padding-top: 0px;
  padding-left: 0;
  padding-right: 0;
}

.order-1 {
  order: 1;
}
.order-2 {
  order: 2;
}
.order-3 {
  order: 3;
}

.visualization-slide.swiper-slide {
background: transparent;
padding: 0;
gap: 0;
}
.slider-section-content {
  padding:  0 12px;
}
.slider-section-content h2{
  font-size: 36px;
line-height: 100%;
font-weight: 600;
text-transform: uppercase;
color: #B1DEDB;
font-size: 33px;
line-height: 40px;
}
.pl-15 {
padding-left: 15px;
}
.pl-20 {
padding-left: 20px;
}
.ta-center {
  text-align: center;
}
.ml-20 {
  margin-left: 20px;
}
.ta-right {
text-align: right;
}


.slider-section-content h2 span {
  font-size: 14px;
  line-height: 100%;  
  text-transform: uppercase;
  color: rgba(177, 222, 219, 0.5);
}
.slider-section-text-wrapper {
  margin-top: 35px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  gap: 20px;

}
.slider-section-text-wrapper > div {
font-family: 'Bai Jamjuree';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 100%;
text-transform: uppercase;
color: #B1DEDB;
position: relative;
}
.slider-section-text-wrapper > div:before {
  content: '';
  width: 2px;
  height: 12px;
  position: absolute;
  left: -12px;
  background: #B1DEDB;;
}
.slider-section-text-wrapper > p {
  font-family: 'Space Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
color: rgba(177, 222, 219, 0.7);
}


.slider-container {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.slider-container-text {
  position: relative;
}
.slider-container-text h3, .slider-container-text > p {
  font-family: 'Bai Jamjuree';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 28px;
text-transform: uppercase;
color: rgba(177, 222, 219, 0.2);
}
.slider-container-text > p span {
  font-size: 12px;
  color: rgba(177, 222, 219, 0.6);
  text-transform: none;
}
.inner-content > p {
  font-family: 'Space Grotesk';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
color: rgba(177, 222, 219, 0.6);
}
.inner-content {
  padding-left: 36px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.inner-content > h4 {
  font-family: 'Bai Jamjuree';
font-style: normal;
font-weight: 600;
font-size: 30.4016px;
line-height: 37px;
text-transform: uppercase;
color: #B1DEDB;

}

.visualization-slider-drug.swiper-scrollbar {
background: rgba(0,0,0,.1);

}

.visualization-slider-drug.swiper-scrollbar.swiper-scrollbar-vertical {
left: -64px;
right: unset;
top: 5%;
}
.swiper-horizontal>.swiper-scrollbar, .visualization-slider-drug.swiper-scrollbar.swiper-scrollbar-horizontal {
  width: 99% !important;
  position: absolute !important;
  bottom: -75px !important;
}
.inner-content {
  position: relative;
}
.s-inline {
display: inline;
}
.visualization-slide.swiper-slide.swiper-slide-next .slide-background-next{
opacity: 1;
}
.visualization-slide.swiper-slide.swiper-slide-prev .slide-background-prev{
opacity: 1;
}
.slide-background-next {
  position: absolute;
  top: 0;
bottom: 0;
left: 0;
right: 0;
  background: linear-gradient(270deg, #112C41 91.44%, rgba(17, 44, 65, 0.5) 100%);
  opacity: 0;
  transition:  all ease 0.8s;
}
.slide-background-prev {
  position: absolute;
  top: 0;
bottom: 0;
left: 0;
right: 0;
background: linear-gradient(90deg, #112C41 89.73%, rgba(17, 44, 65, 0.5) 100%);
  opacity: 0;
  transition: all ease .8s;
}
.slider-swiper-wrapper.swiper .swiper-slide {
  display: flex;
  justify-content: center;
}
.slider-swiper-wrapper.swiper .swiper-slide picture{
margin: auto;
}
.slider-swiper-wrapper.swiper {
  width: auto;
  height: auto;
margin: 0 -24px;
}

@media(min-width: 480px) {
  .slide-background-prev {
    background: linear-gradient(90deg, #112C41 82.73%, rgba(17, 44, 65, 0.5) 100%);
transition-duration: .3s;
   }
    .slide-background-next {
  background: linear-gradient(270deg, #112C41 83.44%, rgba(17, 44, 65, 0.5) 100%);
  transition-duration: .3s;
  }  
}
@media(min-width: 640px) {
  .slide-background-prev {
    background: linear-gradient(90deg, #112C41 76.73%, rgba(17, 44, 65, 0.5) 100%);
transition-duration: .3s;
   }
    .slide-background-next {
  background: linear-gradient(270deg, #112C41 79.44%, rgba(17, 44, 65, 0.5) 100%);
  transition-duration: .3s;
  }  
  .m-inline {
    display: inline;
  }
  .order-1 {
    width: fit-content;
align-self: center;
  }
}
@media(min-width: 1024px) {
  .align-right span {
    font-size: 16px;
  }
  .slider-container-text {
flex-basis: 49%;
padding-left: 37px;
  }
  .slide-background-prev {
    background: linear-gradient(90deg, #112C41 81.73%, rgba(17, 44, 65, 0.5) 100%);
transition-duration: .3s;
   }
    .slide-background-next {
  background: linear-gradient(270deg, #112C41 84.44%, rgba(17, 44, 65, 0.5) 100%);
  transition-duration: .3s;
  }  
  .l-margin-left-30 {
    margin-left: 30px;
  }
  .l-inline {
    display: inline;
      }
  .slider-section-content h2 {
    display: inline;
    padding-left: 50px;
    font-size: 50px;
    line-height: 55px;
  }
  .ml-20 {
    margin-left: 0;
  }
  .fixed-content-title .title::before {

    left: -62px;
 
  }
  .fixed-content {
    padding: 72px 22px 0px 62px;
  }
  .fixed-content-title {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
.order-1 {
  order: 2;
display:  flex;
flex-basis: 80%;
justify-content: flex-start;
}
.fixed-content-title h2  {
  font-size: 66px;
}
.order-2 {
  order: 1;
margin-right: auto;
flex-basis: 20%;
display: flex;
align-items: flex-end;
}
.fixed-content-title .title{
  margin-bottom: 10px;
}
  .display-m-l {
    display: block;
  }
.main-page-content {
  padding-bottom: 37px;
}
.main-page-text p {
  margin-bottom: 0;
}
.main-page-content h1 {
  font-size: 81.562px;
line-height: 100%;
width: 100%;
display: inline;
padding-left: 100px;
text-align: left;
}
  .main-page-text {
    margin-top: 50px;
    padding-right: 440px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 44px;
  }
  .main-page-text button {
    white-space: nowrap;
  }
  .align-right {
    display: inline;
  }
  .fixed-content {
    background: rgba(177, 222, 219, 0.1);
    -webkit-clip-path: url(#fs-slider-l);
  clip-path: url(#fs-slider-l);
  }

  .third-page-content {
    background: transparent;
  }
  .background-transit {
    width: 100%;
    height: 350px;
    background: rgba(177, 222, 219, 0.1);
    position: relative;
    z-index: 0;
    margin-bottom: -300px;
  }
  .main-page-images-wrapper {
    bottom: -20px;
    right: -25px;
}
.slider-section-text-wrapper  {
  flex-direction: row;
}
.slider-section-text-wrapper > div {
  flex-basis: 22%;
  padding-left: 40px;
}
.slider-section-text-wrapper > p {
flex-basis: 24%
}
.slider-swiper-wrapper.swiper {
  height: 514px;
  top: -100px;
  flex-shrink: 0;
}
.slider-container {
  flex-direction: row;
}

.inner-content {
  gap: 20px;
  margin-bottom: 30px;
  padding-left: 70px;
}
.inner-content > p {
  font-size: 14px;
line-height: 24px;
padding-right: 150px;
}
.slider-container-text > p span {
  font-size: 14px;
}
.inner-content > h4 {
  font-size: 40px;
  line-height: 45px;
}
.slider-container-text h3, .slider-container-text > p {
  font-size: 18px;
}
.slide-background-prev {
  height: 100px;
  background: linear-gradient(180deg, #213E51 0%, rgba(33, 62, 81, 0) 100%);
  top: unset;
  /* transition: all ease 0.3s; */
}
.slide-background-next {
  bottom: unset;
  height: 100px;
  background: linear-gradient(180deg, #213E51 0%, rgba(33, 62, 81, 0) 100%);
  transform: rotate(-180deg);
  /* transition: all ease 0.3s; */

}
.swiper-horizontal>.swiper-scrollbar, .visualization-slider-drug.swiper-scrollbar.swiper-scrollbar-horizontal {
  width: 4px !important;
  position: absolute !important;
  left: -15%;
}
.slider-section-text-wrapper > div:before {
  width: 3px;
  height: 24px;
  top: -4px;
  left: -24px;
}
.slider-section-text-wrapper {
  margin-bottom: 146px;
}
}

@media(min-width: 1300px) {
  .align-right span {
    font-size: 25px;
  }
  .slider-section-content h2 {
    padding-left: 80px;
    font-size: 65px;
line-height: 100px;
  }
  .slider-section-content h2 span{
    font-size: 25px;
  }
  .main-page-content {
    padding-left: 60px;
   padding-bottom: 60px; 
  }
  .main-page-content h1 {
padding-left: 257px;
  }
  .main-page-text {
    gap: 100px;
    padding-right: 650px;
  margin-top: 150px;
  align-items: center;
  }
  .main-page-images-wrapper {
    bottom: -25px;
    right: -30px;
}
 /*  .fixed-content {
    padding-top: 142px;
  } */
 
  .order-1 {
    flex-basis: 79%;
    padding-left: 10px;
  }
  .fixed-content-title h2 {
    font-size: 90px;
  }
 .fixed-content-title {
  padding-right: 17px;
 }
 .slider-swiper-wrapper.swiper {
  height: 685px;
  top: -165px;
 }
 .slide-background-next, .slide-background-prev {
  height: 120px;
 } 
 .inner-content > h4 {
  font-size: 53px;
line-height: 60px;
 }
 .slider-container {
  gap: 0px;
 }
 .slider-container-text {
  flex-basis: 52%;
  height: fit-content;
 }
 .inner-content > p {
  padding-right: 250px;
 }
 .slider-section-text-wrapper > div {
flex-basis: 23%;
margin-right: -8px
}
.slider-section-text-wrapper {
  gap: 23px;
}
.visualization-slider-drug.swiper-scrollbar.swiper-scrollbar-horizontal {
  left: -10%;
}
}