
.second-page-content > h2 {
  font-family: 'Bai Jamjuree';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 50px;
text-transform: uppercase;
color: #B1DEDB;
padding:  0 12px;
margin-bottom: 70px;
margin-left: auto;
margin-right: auto;
width: fit-content;
}
.second-page-content > h2 > div {
  display: inline;
}
.second-page-content > h2 > div > span {
font-size: 14px;
line-height: 30px;
text-transform: uppercase;
color: rgba(177, 222, 219, 0.5);
}
.second-page-features{
  display: flex;
  flex-wrap: wrap;
  padding-right: 26px;
  margin-top: 57px;
  gap: 28px;
}
.second-page-features {
  margin-top: 0;
  padding-left: 12px;
}

.second-page-features div {
  font-family: 'Bai Jamjuree';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
color: #B1DEDB;
text-transform: uppercase;
}

.second-page-features p {
  font-family: 'Space Grotesk';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 24px;
color: rgba(177, 222, 219, 0.7);
}
.pt-4 {
  padding-top: 4px;
}
.second-page-features p {
  color: rgba(177, 222, 219, 0.8);
}

.second-page-content {
  position: relative;
  background: url(img/lines-bg-dark-blue-xs.svg) center repeat-y #0B2030;
  background-size: var(--bg-size);
  padding-top: 65px;
   margin-bottom: 50px; 
    -webkit-clip-path: url(#second-page-s);
     clip-path: url(#second-page-s);
     border-top-right-radius: 20px;
     border-bottom-left-radius: 20px;
  padding-bottom: 123px;
}

.pl-8{
  padding-left: 8px;
}
.block-with-decor {
position: relative;
}
.block-with-decor .second-page-decor {
  position: absolute;
  left: -13px;
  top: 0px;
  width: 2px;
  height: 24px;
  background: #B1DEDB;
}
.mobile-display-none {
  display: none;
}
.second-page-bottom-content{
  position: relative;
  margin-top: 80px;
overflow: hidden; 

}
.second-page-bottom-content > div {
  display: flex;
  gap: 40px;
  margin-left: 12px;
}
.second-page-bottom-decor {
  position: absolute;
  top: 0px;
  left: -5px;
  width: 311px;
  height: 4px;
  background: rgba(177, 222, 219, 0.15);
}
.second-page-bottom-decor > div {
  width: 82px;
  height: 4px;
  background: #B1DEDB;
  transition:  all ease 0.3s;
}
.flex-wrap > div {
  font-weight: 600;
font-size: 50px;
line-height: 60px;
text-transform: uppercase;
color: #2C4B5B;
}
.flex-wrap.swiper-slide {
  background: none;
  padding-left: 0;
  gap: 4px;
}
.second-page-images-slider.swiper-horizontal {
margin-left: 0;
}
.second-page-images-slider>.swiper-wrapper>.swiper-slide {
  padding: 0;
  background: none;
}
.second-page-images-slider>.swiper-wrapper>.swiper-slide > picture {
  margin-left: auto;
  margin-right: auto;
}
.second-page-images-slider>.swiper-wrapper>.swiper-slide > picture > img {
  border-radius: 7px;
  -moz-user-select: none;
-khtml-user-select: none;
user-select: none;    
}
.second-page-images-slider>.swiper-wrapper>.swiper-slide.swiper-slide-active {
background: none;
}
.flex-wrap.swiper-slide > p {
  font-family: 'Bai Jamjuree';
  font-weight: 600;
font-size: 20px;
line-height: 24px;
text-transform: uppercase;
color: #B1DEDB;
opacity: 0.3;
transition: all ease 0.3s;
width: 180px;
}
.flex-wrap.swiper-slide.swiper-slide-active > p {
  opacity: 1;
}
.flex-wrap.swiper-slide > p > span{
  display: block;
  margin-top: 10px;
  line-height: 20px;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(177, 222, 219, 0.7);
  text-transform: none;
}

.fixed-slider-wrapper {
  height: auto;
  position: relative;
  }
  .fixed-slider-content {
    position: sticky;
    top: 0px;
  }
  .second-page-slider-line {
/* position: relative; */
/* left: 150px; */
  }
 .second-page-slider-scrollbar.swiper-scrollbar-horizontal {
    position: relative;
    height: 4px;
    background: rgba(177, 222, 219, 0.15);
    margin-bottom: 17px;
    margin-right: 12px;
    margin-left: 12px;
  }
 

  .sf-span {
    font-size: 7px;
    margin-left: -10px;
    line-height: 0;
  }
  .main-first-page {
    margin-bottom: 50px;
  }
  .container {
  }
  .main-first-page-content-wrapper {
    position: relative;

  }
  .main-page-images-wrapper {
    z-index: 3;
    position: absolute;
    bottom: 15px;
    right: 7px;
    
  }
  .main-page-content {
    position: relative;
    z-index: 2;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
   -webkit-clip-path: url(#main-page-s);
   clip-path: url(#main-page-s);
   background: url(img/lines-bg-dark-white-xs.svg) center #fff;
padding: 56px 12px 220px 12px;
background-size: var(--bg-size);
  }
  .main-page-content > h1 {
width: fit-content;
margin-left: auto;
margin-right: auto;
font-family: 'Bai Jamjuree';
font-style: normal;
font-weight: 600;
font-size: 32.8583px;
line-height: 40px;
text-transform: uppercase;
color: #112C41;
  }
  .main-page-content > h1 > span{
font-size: 14px;
text-transform: uppercase;
color: rgba(17, 44, 65, 0.5);
  }
  .main-page-text p{
    font-family: 'Space Grotesk';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 24px;
color: rgba(17, 44, 65, 0.8);
margin-bottom: 20px;
  }

  .button-contact-us {
background: #112C41;
border-radius: 3px;
padding: 18px 28px;
font-family: 'Space Grotesk';
font-style: normal;
font-weight: 500;
font-size: 18px;
text-align: center;
text-transform: uppercase;
color: #B1DEDB;
  }
  .pl-20 {
    padding-left: 20px;
    display: inline;
  }
  .pl-36 {
    padding-left: 36px;
    display: inline;
  }
  .mr-54{
    margin-right: 54px;
  }
  .mr--3 {
   margin-right: -3px;
  }
  .ml--4 {
    margin-left: -4px;
  }
  .third-page {
  }
  .container {
  }
  .third-page-content > h2{
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 56px;
  text-transform: uppercase;
    color: #B1DEDB;
    margin-bottom: 27px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
  } 
  .third-page-content > h2 > span {
font-size: 14px;
line-height: 100%;
color: rgba(177, 222, 219, 0.5);
  }
  .third-page-content {
  background: rgba(177, 222, 219, 0.1);
  background-size: var(--bg-size);
  margin: -350px 0;
  padding: 400px 12px 450px 12px;
  }
  .display-mobile {
  }
  .fix-wrapper {

  }
  .test-decor-div {
    position: absolute;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, rgba(177,222,219,0.1) 0%, rgba(177,222,219,1) 51%, rgba(177,222,219,0.1) 100%);;
    top: 180px;
  }
 
  .fixed-content {
    position: relative;
  }
  .fixed-content > div.title{
    position: relative;
    font-family: 'Bai Jamjuree';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 24px;
text-transform: uppercase;
color: rgba(177, 222, 219, 0.5);
margin-bottom: 25px;
  }
  .fixed-content > div.title::before {
    content: '';
    width: 2px;
    height: 24px;
    background: #B1DEDB;
    position: absolute;
    top: 0;
    left: -12px;
  }
  .fixed-content > p {
 font-family: 'Space Grotesk';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 24px;
color: rgba(177, 222, 219, 0.7);
  }
  .fixed-block:before {
    content: '';
    position: absolute;
    height: 1px;
    width: calc(100% + 24px);
    left: -12px;
    /* background: linear-gradient(90deg, rgba(177,222,219,0.1) 0%, rgba(177,222,219,1) 51%, rgba(177,222,219,0.1) 100%); */
    background: rgba(177, 222, 219, 0.15);
    top: 0px;
  }
  .fixed-block {
    position: relative;
    margin-top: 30px;
    font-family: 'Space Grotesk';
    font-weight: 400;
    color: rgba(177, 222, 219, 0.7);
  }
.fixed-block .item-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: calc(50%);
  order: 1;
  color: #B1DEDB;
font-size: 18px;
line-height: 32px;
}
.fixed-block .item-1 span {
  font-size: 16px;
}
.fixed-block .item-2 {
  display: flex;
  flex-basis: calc(50%);
order: 2;
font-size: 13px;
line-height: 28px;
justify-content: center;
}
.fixed-block .item-3 {
  display: flex;
  justify-content: center;
  flex-basis: calc(100%);
order: 3;
}
.fixed-block > div > picture > img {
  border: 6.90987px solid rgba(48, 78, 95, 0.5);
filter: drop-shadow(6.37834px 9.56751px 14.8828px rgba(17, 44, 65, 0.32));
backdrop-filter: blur(1.06306px);
border-radius: 7.97292px;
position: relative;
z-index: 1;
}

  .fixed-blocks-wrapper .block-4:after {
    content: '';
    position: absolute;
    height: 1px;
    width: calc(100% + 24px);
    left: -12px;
    /* background: linear-gradient(90deg, rgba(177,222,219,0.1) 0%, rgba(177,222,219,1) 51%, rgba(177,222,219,0.1) 100%); */
    background: rgba(177, 222, 219, 0.15);
    bottom: -20px;
  }
  .fixed-block {
    display: flex;
    flex-wrap: wrap;
  }
  .display-s-xs {
  }
  .display-l-xl {
    display: none;
  }
  .image-wrapper {
  }
  .txt-al-r {
text-align: right;
  }
  .pl-48 {
padding-left: 48px;
  }
  .pl-64 {
    padding-left: 64px;
  }
  .inline-right {

text-align: right;
  }
  @media (min-width: 640px) { 
    .third-page-content > h2 {
      text-align: right;
    }
    .inline-right {
      display: inline;
    }
    .second-page-content {
      margin-left: -12px;
      margin-right: -12px;
    }
    .main-page-content {
      margin: 0 -12px;
    }
    .main-page-content > h1 {
      margin-bottom: 50px;
    }
    .main-page-text p {
margin-bottom: 37px;
    }
    .display-mobile {
display: none;
    }
    .sf-span {
      font-size: 10px;
      margin-left: -5px;
    }
    .second-page-content {
      margin-left: -12px;
      margin-right: -12px;
    }
    .second-page-bottom-decor {
      width: 571px;
  
    }
    .second-page-bottom-decor > div {
  width: 100px;
    }
    .fixed-slider-content {
      /* top: 15px; */
    }
    .flex-wrap > div {
      font-size: 60px;
      line-height: 70px;
    }
   
  
    .flex-wrap.swiper-slide > p {
  font-size: 32px;
  line-height: 36px;
  width: 270px;
    }
    .second-page-bottom-content > div {
      gap: 60px;
    }
    .second-page-slider-line{
      /* left: 328px; */
    }

    .third-page-content {
      margin-left: -12px;
      margin-right: -12px;
    }
  }

  
@media (min-width: 1024px) {
  .fixed-blocks-wrapper .fixed-block:after {
    content: '';
    position: absolute;
    height: 1px;
    width: calc(100% + 24px + 5px + 53px);
    left: -64px;
    /* background: linear-gradient(90deg, rgba(177,222,219,0.1) 0%, rgba(177,222,219,1) 51%, rgba(177,222,219,0.1) 100%); */
    background: rgba(177, 222, 219, 0.15);
    bottom: 0px;
  }
  .display-s-xs {
    display: none;
  }
  .display-l-xl {
    display: block;
    font-size: 18px;
line-height: 24px;
display: flex;
align-items: center;
color: #B1DEDB;
margin-bottom: 10px;
  }
 
  .second-page-images-slider>.swiper-wrapper>.swiper-slide > picture > img {
    border-radius: 15px;
  }
  .main-page-content {
    padding: 71px 102px 37px 45px;
    -webkit-clip-path: url(#main-page-l);
    clip-path: url(#main-page-l);
    background: url(img/lines-bg-dark-white.svg) center repeat-y #fff;
    background-size: var(--bg-size);
  }
.pl-20 {
padding-left: 130px;
}
  .main-page-content > h1 {
    font-size: 52px;
    line-height: 60px;
  }
  .main-page-content > h1 > span {
    font-size: 16px;
  }
  .main-page-text {
padding-right: 350px;
  }
  .main-page-images-wrapper {
    display: flex;
    gap: 23px;
    align-items: flex-end;
bottom: 40px;
right: 30px;
  }
  .sf-span {
font-size: 13px;
  }
  .desktop-mr-5 {
margin-right: 6px;
  }
  .desktop-ml-5 {
    margin-left: 6px;
  }
  .swiper-wrapper {
     
  }
  .main {
    margin-top: 0;
  }
  .mobile-display-none {
    display: block;
      }
      .display-m {
        display: block;
        }
        .second-page-content > h2 div:first-child, .second-page-content > h2 div:first-child{
          margin-left: 184px;
         }
          .second-page-services p, .second-page-services div, 
          .second-page-features p,
           .second-page-features div {
          width: 25%;
        }
        
        .second-page-services, .second-page-features {
          margin-top: 60px;
          padding-top: 30px;
          gap: 60px;
          padding-right: 0;
        }
        .second-page-services div, .second-page-features div {
          margin-right: -60px;
        }
        .second-page-services p, .second-page-features p {
        width: 29%;
        } 
        
.bg-decor {
  top: 385px;
}
.bg-decor div:first-child {
  background: #B1DEDB;
  height: 24px;
  width: 4px;
  }
  .bg-decor div:last-child {
   height: 256px;
   width: 4px;
    background: rgba(177, 222, 219, 0.15);
  }
  .bg-decor div:last-child > div {
    width: 4px;
    height: 106px;
    background: #B1DEDB;
  }

  .second-page-content > h2 div:first-child  {
    margin-left: 60px;
  }
  .second-page-features {
    padding-left: 67px;
    padding-right: 38px;
  }
  .second-page-content > h2 {
    font-size: 60px;
    line-height: 60px;
    padding-left: 0px;
    padding-right: 38px;
  }
  .pl-64{
    padding-left: 30px;
  }

  .second-page-content > h2 > span {
    font-size: 20px;
  }
  .second-page-slider-line {
    padding-left: 67px;
    padding-right: 38px;
  }
  .second-page-slider-scrollbar.swiper-scrollbar-horizontal {
    margin-left: 67px;
    margin-right: 38px;
  }
  .second-page-content {
  padding: 63px 0 73px 0;
  -webkit-clip-path: url(#second-page-l);
     clip-path: url(#second-page-l);
  background: url(img/lines-bg-dark-blue.svg) center repeat-y #0B2030;
  background-size: var(--bg-size);
  }
  .block-with-decor .second-page-decor {
    left: -67px;
    width: 3px;
  }
  .flex-wrap {
    display: flex;
    flex-direction: row;
    gap: 43px;
    align-items: center;
    padding-left: 0;
  }
  .flex-wrap > div {

  font-size: 130px;
  line-height: 140px;
  }
  .flex-wrap.swiper-slide > p {
    font-size: 25px;
    line-height: 39px;
    width: 250px;
}
.flex-wrap.swiper-slide {
gap: 45px;
}
.second-page-bottom-decor {
  width: 860px;

}
.second-page-slider-line {
  /* left: 457px; */
/* transition: all ease 0.3s; */

}
.fixed-content {
   height: 100vh; 
   padding: 50px 5px 0px 53px;
   position: sticky;
   top: 0;
}
.fixed-content > div.title::before {
  left: -65px;
}
.fixed-block:before {
  width: calc(100% + 24px + 5px + 53px);
  left: -65px;
}
.fixed-blocks-wrapper .block-4:after {
  width: calc(100% + 24px + 5px + 53px);
  left: -65px;
}

 .fix-wrapper {
  position: relative;
  height: 400vh; 
} 
.triggers {
  position: absolute;
  height: 100%;
  width: 100%;

}
.fixed-content > div.title {
  font-size: 14px;
  color: #B1DEDB;
}
.fixed-content > p {
  font-size: 16px;
padding-left: 260px;
padding-right: 300px;
}
.trigger-box {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}
.trigger {
  width: 100%;
  height: 1px;
}
.fixed-blocks-wrapper {
  position: relative;
 margin-top: 60px;
}
/* .fixed-block.block-1 {
  opacity: 1;
} */
.fixed-block.block-1, 
.fixed-block.block-2, 
.fixed-block.block-3, 
.fixed-block.block-4 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 190px;
}
.fixed-block.block-2, 
.fixed-block.block-3, 
.fixed-block.block-4 {
  display: none;
  opacity: 0;
}
.fixed-block .item-1 {
flex-basis: 21%;
font-family: 'Bai Jamjuree';
font-style: normal;
font-weight: 600;
font-size: 45px;
line-height: 60px;
text-transform: uppercase;

}
.fixed-block .item-2 {
order: 3;
flex-basis: 25%;
flex-direction: column;
font-size: 14px;
line-height: 20px;
}
.fixed-block .item-3 {
  position: relative;
order: 2;
flex-basis: 54%;
/* margin-bottom: 700px; */
}
.fixed-block .item-3 img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.third-page-content > h2 {
  font-size: 55px;
  line-height: 70px;
}
.fixed-block > div > picture > img {
  border-radius: 30px;
  border-width: 13px;
}
}
@media (min-width: 1300px) {
  .fixed-block.block-1, .fixed-block.block-2, .fixed-block.block-3, .fixed-block.block-4 {
    height: 240px;
  }
  .fixed-block .item-1 {
    font-size: 50px;
  }
  .display-l-xl {
    font-size: 24px;
    line-height: 32px;
  }
  .fixed-block .item-2 {
    line-height: 28px;
    font-size: 16px;
  }
  .fixed-blocks-wrapper {
    margin-top: 100px;
  }
  .third-page-content > h2 {
    font-size: 65px;
    line-height: 100px;
    text-align: center;
  }
  .third-page-content > h2 > span {
    font-size: 25px;
  }
  .second-page-content > h2 div:first-child {
    margin-left: 45px;
  }
  .second-page-content > h2 {
    font-size: 80px;
  }
  .second-page-content > h2 > span {
    font-size: 25px;
  }
  .main-page-content > h1 {
    font-size: 70px;
    line-height: 70px;
    margin-bottom: 75px;
  }

  .main-page-content > h1 > span {
    font-size: 25px;
  }
  .main-page-text {
    padding-right: 590px;
  }
  .main-page-images-wrapper {
    bottom: 50px;
    gap: 53px;
    right: 40px;
  }
  .main-page-text p {
    font-size: 16px;
  }
  .sf-span {
font-size: 18px; 
  }
  
  .second-page-content > h2  {
    font-size: 85px;
    line-height: 100px;;
  }
  
 .second-page-services, .second-page-features {
    
  margin-top: 58px;
padding-top: 60px;
padding-right: 115px;
} 
.second-page-services  p, .second-page-features p {
  width: 24%;
  line-height: 28px;
padding-top: 0;
}

 .second-page-content > h2 > div > span {
  margin: 0 8px;
  font-size: 25px;
line-height: 30px;
} 

.second-page-features  {
  padding-top: 51px;
  gap: 42px; 
  }
   .second-page-features p {
    width: 26%;
   }
   .second-page-bottom-content {
    margin-top: 118px;
   }
   
  .second-page-slider-scrollbar.swiper-scrollbar-horizontal {
    margin-bottom: 41px;
  }
  
.second-page-bottom-content {
  gap: 98px;
}
.flex-wrap.swiper-slide  {
  gap: 63px;

}
.flex-wrap > div {
  font-size: 150px;
  line-height: 160px;
  }
  .flex-wrap.swiper-slide > p {
    width: 345px;
    font-size: 36px;
    line-height: 44px;
}
}