


.display-m {
display: none;
}
.pl-20 {
  padding-left: 0;
  padding-right: 20px;
}
.pl-36 {
  padding-left: 60px;
}
.mr-54 {
  margin-right: 0;
}
.main-page-content > h1 {
font-size: 39px;
}
.mt--6px span {
  font-size: 14px;
    text-transform: uppercase;
    color: rgba(17, 44, 65, 0.5);
}
.mt--6px {
margin-top: -8px;
}
.main-page-text p {
  margin-bottom: 34px;
}
.pl-64 {
padding-left: 0;
}
.pl-48 {
  padding-left: 0;
}
.second-page-content > h2 {
  font-size: 39px;
  line-height: 39px;
}
.inline-nowrap {
  font-size: 32px;
display: inline;
white-space: nowrap;
}
.third-page-content {
  background: transparent;
}
.third-page-content > h2  {
  font-size: 40px;
}
.right-gray-xs {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  color: rgba(177, 222, 219, 0.5);
  text-align: right;
}
.fixed-content-paragraphs > div.title {
  position: relative;
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: #B1DEDB;
}
.fixed-content-paragraphs > div.title::before {
  content: '';
  width: 2px;
  height: 24px;
  background: #B1DEDB;
  position: absolute;
  top: 0;
  left: -12px;
}
.fixed-content-paragraphs {
  display:  flex;
flex-direction: column;
gap: 5px;
}
.fixed-content-paragraphs p {
  font-family: 'Space Grotesk';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 28px;
color: rgba(177, 222, 219, 0.7);
}
.mr-50-m {
  margin-right: 12px;
}
.mlr-20-m {
  margin: 0 27px;
}
.fixed-block .item-1 {
  font-size: 15px;
}
.fixed-block .item-1 span {
  font-size: 25px;
}
.main-page-content {
  padding-bottom: 240px;
}
.fixed-block .item-1 {
  flex-basis: 100%;
}
.fixed-block .item-2 {
  flex-basis: 100%;
}
@media (min-width: 640px) {
  .second-page-content > h2  {
    text-align: center;
  }
  .pl-20 {
    padding-right: 0;
  }
  .pl-36 {
padding-left: 0;
  }
  .mt--6px {
    display: inline;
  }
 /*  .display-mobile {
    display: block;
  } */
  .main-page-content > h1 {
    text-align: center;
  }
  .third-page-content > h2 {
    text-align: center;
  }
  .right-gray-xs {
    padding-right: 15px;
  }
}
@media(min-width: 1024px) {
  .main-page-content {
    padding-bottom: 37px;
  }
  .mrl-20-m {
    margin: 0 15px;
  }
  .mr-50-m {
    margin-right: 42px;
  }
  .right-gray-xs {
    display: inline;
    font-size: 25px;
  }
  .display-mobile {
    display: none;
  } 
.pl-36 {
  padding-left: 0;
}
.pl-20 {
  padding-left: 100px;
}
  .mt--6px {
    display: inline;
    margin-top: 0;
  }
  .display-m {
display: block;
  }
  .main-page-content > h1 {
    font-size: 50px;
    text-align: left;
    text-align-last: left;
  }
  .main-page-text {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 30px;
  }
  .main-page-text p {
    margin-bottom: 0;
  }
  .main-page-text button {
 white-space: nowrap ;
 margin-bottom: 15px;
  }
  .second-page-content > h2 {
    font-size: 60px;
    line-height: 60px;
  }
  .inline-nowrap {
    font-size: 55px;
  }
  .second-page-content > h2 > div > span  {
    font-size: 25px;
    line-height: 30px;
  }
  .display-s-xs {
    display: block;
}
.fixed-content > p  {
  padding: 0;
}

.third-page-content > h2 {
  text-align: left;
  font-size: 55px;
  text-align-last: right;

}

.fixed-content > div.title {
  font-size: 14px;
  color: #B1DEDB;
}
.fixed-content-paragraphs {
flex-direction: row;
gap: 30px;
}
.fixed-content-paragraphs > div.title {
  font-size: 14px;
  color: #B1DEDB;
  flex:  0 0 20%;
  margin-right: -25px;
}
.fixed-content-paragraphs > div.title::before {
  left: -65px;
}
.fixed-content-paragraphs p {
  font-size: 13px;
  line-height: 15px;
  flex: 0 0 30%;
}
.fixed-block .item-1 {
  font-size: 25px;
  flex-basis: 21%;
}
.fixed-block .item-2 {
  flex-basis: 25%;
}
.fixed-block .item-1 span {
  font-size: 35px;
  line-height: 35px;
}
}
@media (min-width: 1300px) {
  .mrl-20-m {
    margin: 0 22px;
  }
  .mr-50-m {
    margin-right: 52px;
  }
  .main-page-content > h1 {
    font-size: 70px;
  }
  .pl-20 {
    padding-left: 130px;
  }
  .main-page-content  {
    padding: 71px 44px 44px 64px;
  }
  .main-page-text  {
    padding-right: 576px;
    gap: 97px;
  }
  .main-page-content > h1 {
  margin-bottom: 98px;
  }
  .main-page-images-wrapper {
    bottom: -10px;
    right: -15px;
  }
  .main-page-text button {
    margin-bottom: 25px;
  }
  .second-page-content > h2, .second-page-content > h2 .inline-nowrap {
    font-size: 80px;
    line-height: 100px
  }
  .flex-wrap.swiper-slide > p {
    width: 370px;
  }
  .third-page-content > h2, .third-page-content > h2 > .inline-nowrap {
   font-size: 70px;
  }

  .fixed-content-paragraphs > div.title {
    font-size: 14px;
    color: #B1DEDB;
    flex:  0 0 20%;
    margin-right: -15px;
  }
 
  .fixed-content-paragraphs p {
    font-size: 16px;
    line-height: 28px;
    flex: 0 0 26.5%;
  }
  .fixed-block .item-1 {
    font-size: 25px;
  }
  .fixed-block .item-1 span {
    font-size: 40px;
    line-height: 40px;
  }
  .second-page-features div  {
    margin-right: -56px;
  }
}