.third-page-content {
  background: rgba(177, 222, 219, 0.1);
  /* background-size: var(--bg-size); */
  margin: -350px 0;
  padding: 400px 12px 450px 12px;
}

.third-page-content > h2 {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 56px;
  text-transform: uppercase;
  color: #B1DEDB;
  margin-bottom: 27px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}
.inline-right {
  text-align: right;
}
.third-page-content > h2 > span {
  font-size: 14px;
  line-height: 100%;
  color: rgba(177, 222, 219, 0.5);
}
.fixed-content {
  position: relative;
}
.fixed-content > div.title {
  position: relative;
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  color: rgba(177, 222, 219, 0.5);
  margin-bottom: 25px;
}
.fixed-content > div.title::before {
  content: '';
  width: 2px;
  height: 24px;
  background: #B1DEDB;
  position: absolute;
  top: 0;
  left: -12px;
}
.fixed-content > p {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: rgba(177, 222, 219, 0.7);
}
.fixed-block {
  position: relative;
  margin-top: 30px;
  font-family: 'Space Grotesk';
  font-weight: 400;
  color: #B1DEDB;
  display: flex;
  flex-wrap: wrap;
}
.fixed-block:before {
  content: '';
  position: absolute;
  height: 1px;
  width: calc(100% + 24px);
  left: -12px;
  /* background: linear-gradient(90deg, rgba(177,222,219,0.1) 0%, rgba(177,222,219,1) 51%, rgba(177,222,219,0.1) 100%); */
  background: rgba(177, 222, 219, 0.15);
  top: 0px;
}
.fixed-block .item-1 {
  display: flex;
  font-family: 'Bai Jamjuree';
  text-transform: uppercase;
  flex-direction: column;
  justify-content: center;
  flex-basis: calc(50%);
  order: 1;
  color: #B1DEDB;
  font-size: 18px;
  line-height: 32px;
}
.fixed-block .item-1 span {
  font-size: 15px;
}
.fixed-block .item-2 {
  display: flex;
  flex-basis: calc(50%);
  order: 2;
  font-size: 13px;
  line-height: 28px;
  justify-content: center;
  padding: 10px 0;
}
.display-l-xl {
  display: none;
}
.fixed-block .item-3 {
  display: flex;
  justify-content: center;
  flex-basis: calc(100%);
  order: 3;
}
.fixed-block > div > picture > img {
  border: 6.90987px solid rgba(48, 78, 95, 0.5);
filter: drop-shadow(6.37834px 9.56751px 14.8828px rgba(17, 44, 65, 0.32));
backdrop-filter: blur(1.06306px);
border-radius: 7.97292px;
position: relative;
z-index: 1;
}
/* .fixed-blocks-wrapper .block-4:after {
  content: '';
  position: absolute;
  height: 1px;
  width: calc(100% + 24px);
  left: -12px;
  background: linear-gradient(90deg, rgba(177,222,219,0.1) 0%, rgba(177,222,219,1) 51%, rgba(177,222,219,0.1) 100%); 
  background: rgba(177, 222, 219, 0.15);
  bottom: -20px;
} */
@media (min-width: 640px) {
  .inline-right {
    display: inline;
}
  .display-mobile {
    display: none;
}
  .third-page-content {
    margin-left: -12px;
    margin-right: -12px;
}
.third-page-content > h2 {
  text-align: right;
}
}

@media(min-width: 1024px) {
  .display-s-xs {
    display: none;
}
  .fix-wrapper {
    position: relative;
    height: 400vh;
}
  .third-page-content > h2 {
    font-size: 55px;
    line-height: 70px;
}
.triggers {
  position: absolute;
  height: 100%;
  width: 100%;
}
.trigger-box {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}
.trigger {
  width: 100%;
  height: 1px;
}
.fixed-content {
  height: 100vh;
  padding: 50px 5px 0px 53px;
  position: sticky;
  top: 0;
}
.fixed-content > div.title {
  font-size: 14px;
  color: #B1DEDB;
}
.fixed-content > div.title::before {
  left: -65px;
}
.fixed-content > p {
  font-size: 16px;
  padding-left: 260px;
  padding-right: 300px;
}
.fixed-blocks-wrapper {
  position: relative;
  margin-top: 60px;
}
.fixed-block.block-1, .fixed-block.block-2, .fixed-block.block-3, .fixed-block.block-4 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 190px;
}
.fixed-block.block-2, 
.fixed-block.block-3, 
.fixed-block.block-4 {
  display: none;
  opacity: 0;
}
.fixed-block:before {
  width: calc(100% + 24px + 5px + 53px);
  left: -65px;
}
/* .fixed-blocks-wrapper .block-4:after {
  width: calc(100% + 24px + 5px + 53px);
  left: -65px;
} */
.fixed-block .item-1 {
  flex-basis: 21%;
  font-weight: 600;
  font-size: 45px;
  line-height: 60px;
 
}
.fixed-block .item-2 {
  order: 3;
  flex-basis: 25%;
  flex-direction: column;
  font-size: 14px;
  line-height: 20px;
}
.display-l-xl {
  display: block;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #B1DEDB;
  margin-bottom: 10px;
}
.fixed-block .item-3 {
  position: relative;
  order: 2;
  flex-basis: 54%;
}
.fixed-blocks-wrapper .fixed-block:after {
  content: '';
  position: absolute;
  height: 1px;
  width: calc(100% + 24px + 5px + 53px);
  left: -64px;
  /* background: linear-gradient(90deg, rgba(177,222,219,0.1) 0%, rgba(177,222,219,1) 51%, rgba(177,222,219,0.1) 100%); */
  background: rgba(177, 222, 219, 0.15);
  bottom: 0px;
}
.fixed-block > div > picture > img {
  border-radius: 30px;
  border-width: 13px;
  position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
}


@media(min-width: 1300px) {
  .third-page-content > h2 {
    font-size: 65px;
    line-height: 100px;
    text-align: center;

}
.third-page-content > h2 > span {
  font-size: 25px;
}
.fixed-blocks-wrapper {
  margin-top: 100px;
}
.fixed-block.block-1, .fixed-block.block-2, .fixed-block.block-3, .fixed-block.block-4 {
  height: 240px;
}
.fixed-block .item-1 {
  font-size: 50px;
}
.fixed-block .item-2 {
  line-height: 28px;
  font-size: 16px;
}
.display-l-xl {
  font-size: 24px;
  line-height: 32px;
}
}