*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/


body {
  background: #112C41;
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 600;
}
.container {
  max-width: 356px;
  padding: 0px 10px;
  margin-left: auto;
  margin-right: auto;
}

.main {
  margin-top: 32px;
}
.main-first-page {
}

.main-first-page-content {
  position: relative;
padding: 64px 12px 230px 12px;
 background: url(img/main-page-bg-white-xs.svg) no-repeat; 
}
.main-first-page-title {
font-family: 'Bai Jamjuree';
font-weight: 600;
font-size: 36px;
line-height: 44px;
text-transform: uppercase;
color: #112C41;
margin-bottom: 50px;
}

.main-first-page-title > h1 > div > span {
  font-family: 'Bai Jamjuree';
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: rgba(17, 44, 65, 0.5);
  }

  .main-first-page-title div:last-child {
    text-align: right;
  }
.leaf-bg {
  padding-right: 30px;
  background: url(img/red-leaf-icon.svg) right no-repeat;
}

.main-page-text {
  display: flex;
  flex-direction: column-reverse;
 padding-right: 45px;
 font-family: 'Space Grotesk';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 24px;
color: rgba(17, 44, 65, 0.8);
}
.main-page-text > button {
  margin-top: 36px;
  display: flex;
  align-items: center;
  width: fit-content;
  text-transform: uppercase;
  font-weight: 500;
  padding: 16px 20px;
background: #112C41;
border-radius: 3px;
color: #B1DEDB;
}
.main-first-page-content > img {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 312px;
  height: 172px;
}

.sub-main-page {
  margin-top: 90px;
}
.sub-main-content {
display: flex;
flex-wrap: wrap;
margin: 0 -10px;
}
.sub-main-content >div:last-child {
  padding-top: 48px;
}
.sub-main-block {
width: 50%;
display: flex;
flex-direction: column;
gap: 16px;
}
.sub-main-block > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.sub-main-block img {
  width: 24px;
  height: 24px;

}
.sub-main-block > div > p {
  font-family: 'Bai Jamjuree';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 76px;


text-transform: uppercase;

color: #B1DEDB;
}
.sub-main-first-block {
  width: 100%;
  padding-bottom: 32px;
  display: flex;
  flex-direction: row;
  gap: 64px;
font-weight: 500;
font-size: 14px;
line-height: 24px;
text-transform: uppercase;
color: #B1DEDB;
}
.green-decor-element {
  width: 3px;
  height: 24px;
  background: #B1DEDB;
  display: inline-block;

}
.decorated-block {
  display: flex;
  gap: 22px;
  align-items: center;
  font-family: 'Space Grotesk';
font-weight: 500;
font-size: 13.1749px;
line-height: 20px;
color: rgba(177, 222, 219, 0.6);
}

.second-page {
  margin-top: 69px;
}

.second-page-content {
  background: url(img/second-page-bg-xs.svg) no-repeat;
  padding: 59px 21px 21px 12px;
  position: relative;
}
.second-page-content > h2 {
  font-family: 'Bai Jamjuree';
font-style: normal;
font-weight: 600;
font-size: 44px;
line-height: 52px;
text-transform: uppercase;
color: #B1DEDB;
}
.second-page-content > h2 > div {
  display: inline;
}
.second-page-content > h2 > div > span {
font-size: 18px;
line-height: 30px;
text-transform: uppercase;
color: rgba(177, 222, 219, 0.5);
}
.second-page-services {
  display: flex;
  flex-wrap: wrap;
  padding-right: 26px;
  margin-top: 60px;
  gap: 28px;
}
.second-page-services p, .second-page-services div {
  width: 100%;
}
.second-page-services div {
  font-family: 'Bai Jamjuree';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
color: #B1DEDB;
text-transform: uppercase;
}
.second-page-services p {
  font-family: 'Space Grotesk';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 28px;
color: rgba(177, 222, 219, 0.7);
}
.second-page-bottom-content {
margin-top: 47px;
  display: flex;
  flex-direction: column;
}
.second-page-photos-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-top: -60px;
}
.second-page-bottom-content > div > p {
  position: relative;
font-weight: 500;
font-size: 14px;
line-height: 20px;text-transform: uppercase;
color: rgba(177, 222, 219, 0.2);
margin-bottom: 20px;
}
.second-page-bottom-content > div > div {
  margin-left: 56px;
  margin-right: 28px;
  margin-bottom: 30px;
}
.second-page-bottom-content > div > div > img {
width: 18px;
height: 18px;
margin-bottom: 10px;
}
.second-page-bottom-content > div > div > h3 {
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;  
  text-transform: uppercase;
  color: #B1DEDB;
  margin-bottom: 5px;

}
.second-page-bottom-content > div > div > p {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(177, 222, 219, 0.6);
  margin-bottom: 18px;
}
.second-page-bottom-content > div > div > a {
  border-bottom: 1px solid #B1DEDB;
  padding: 10px 4px;
font-weight: 500;
font-size: 14px;
line-height: 20px;
text-transform: uppercase;
color: #B1DEDB;

}
.second-page-photos-wrapper :first-child {
  align-self: flex-end;
}
.second-page-photos-wrapper :last-child {
  align-self: flex-start;
}
.display-m {
display: none;
}
.ml-30 {
  margin-left: 30px;
}
.bg-decor {
  position: absolute;
  top: 280px;
  left: 0;
height: 530px;
width: 2px;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.bg-decor div:first-child {
background: #B1DEDB;
height: 24px;
width: 2px;
}
.bg-decor div:last-child {
 height: 191px;
 width: 2px;
  background: rgba(177, 222, 219, 0.15);
}
.bg-decor div:last-child > div {
  width: 2px;
  height: 62px;
  background: #B1DEDB;
}
.phone-display-block {
  display: block;
}




.slider-content {
display: flex;
flex-direction: column;
position: relative;
background: url(img/slider-bg-xs.svg) no-repeat;
padding: 60px 0px 151px 12px;
}
.slider-triangle-bg {
 display: none;
}

.slider-title {
  padding-right: 12px;
  margin-bottom: 60px;
}
.slider-title > h2 {
font-weight: 600;
font-size: 50px;
line-height: 73px;
text-transform: uppercase;
color: #112C41;
}
.slider-title > h2 > div > span {
font-size: 15px;
line-height: 18px;
text-transform: uppercase;
color: rgba(17, 44, 65, 0.5);
}
.swiper {
display: flex;
flex-direction: column;
}
.swiper-scrollbar {
  margin-right: 12px;
 
}
.swiper-title p {
font-weight: 500;
font-size: 14px;
line-height: 24px;
text-transform: uppercase;
color: rgba(17, 44, 65, 0.6);
margin: 30px 0;
}
.swiper-buttons {
}
.swiper-button-prev {
}
.swiper-button-next {
}
.swiper{
 width: 266px;
 height: 244px;
}
.swiper-slide {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 29px;
  background: #DCF2F2;
border-radius: 20px;

}

.swiper-slide h3{
  font-weight: 500;
font-size: 13px;
line-height: 16px;
text-transform: uppercase;
color: rgba(17, 44, 65, 0.6);
margin-bottom: -9px;

}

.swiper-slide p{
font-family: 'Space Grotesk';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
color: #1E4357;
}

.swiper-slide img {
  align-self: flex-end;
  width: 40px;
  height: 40px;
}



@media (min-width: 640px) {
  .container {
    max-width: 610px;
  }
  .display-phone {
display: none;
  }
 .phone-display-block {
  display: inline;
 }
  .main-first-page-content {
    margin: 0 -10px;
    background: url(img/main-page-bg-white-s.svg) no-repeat; 
  }
  .main-first-page-content > img {
  /*   bottom: -60px;
    right: -20px; */
  }
  .main-first-page-title {
    font-size: 46px;
    line-height: 54px;
  }
  .main-first-page-title > div > span {
    font-size: 20px;
    line-height: 25px;
  }
  .main-page-text {
    font-size: 16px;
  }
  .second-page-content {
    background: url(img/second-page-bg-s.svg) no-repeat;
    margin: 0 -12px;
  }

  .main-first-page-title > div > span {
    font-size: 27px;
    line-height: 65px;
  }
  .slider-content {
    background: url(img/slider-bg-s.svg) no-repeat;
    }
   
}

@media (min-width: 1024px) {
  .display-m {
    display: block;
    }
  .container {
    max-width: 990px;
  }
  .main {
    margin-top: 24px;
  }
 
  .main-first-page-content {
     padding: 48px 15px 107px 64px;
    background: url(img/main-page-bg-white-m.svg) no-repeat;
   
  }
  .main-first-page-title {
    font-size: 80px;
    line-height: 90px;
    margin-bottom: 92px;
  }
  .main-first-page-title > div {
    display: flex;
    align-items: flex-end;
    gap: 34px;
  }
  .main-first-page-title > div > span {
    font-size: 24px;
    line-height: 55px;
  }
  
  .main-page-text {
    flex-direction: row;
    gap: 80px;
    line-height: 28px;
  }
  .main-page-text button {
    margin-top: 0;
    font-size: 18px;
    padding: 18px 36px;
    align-self: flex-start;
  }
  .main-page-text p {
    max-width: 295px;
  }
  .main-first-page-content > img {
    width: 390px;
    height: 206px;
    bottom: -30px;
  }
  .sub-main-block{
    width: 25%;
    gap: 40px;
    }
    .sub-main-block > div {
 
      gap: 20px;
    }
  .sub-main-content >div:last-child {
    padding-top: 0;
  }
  .second-page-content {
    background: url(img/second-page-bg-m.svg) no-repeat;
  }
  .second-page {
    margin-top: 90px;

  }
  .second-page-content  {
    padding: 58px 64px 86px 64px;
  }
  .second-page-content > h2 {
    font-size: 75px;
    line-height: 90px;
  }
  .second-page-content > h2 div:first-child{
    margin-left: 184px;
   }
    .second-page-services p, .second-page-services div {
    width: 25%;
  }
  
  .second-page-services {
    margin-top: 90px;
    gap: 60px;
    padding-right: 0;
  }
  .second-page-services div {
    margin-right: -60px;
  }
  .second-page-services p {
  width: 29%;
  } 
.second-page-bottom-content {
 flex-direction: row;
 margin-top: 76px;
}
.second-page-bottom-content > div > div {
  margin-bottom: 55px;
}
.second-page-bottom-content > div > p {
  margin-bottom: 55px;
}
.second-page-bottom-content > div > div > img {
  width: 32px;
  height: 32px;
  margin-bottom: 36px;
}
.second-page-bottom-content > div > div > p {
  padding-right: 150px;
}
.second-page-photos-wrapper {
  gap: 16px;
  margin-top: 0;
}
.second-page-bottom-content > div > div > h3 {
  margin-bottom: 16px;
}
.second-page-bottom-content > div > div > h3 {
  font-size: 52px;
}
.second-page-bottom-content > div > div > p {
  margin-bottom: 34px;
}

.bg-decor {
  top: 385px;
}
.bg-decor div:first-child {
  background: #B1DEDB;
  height: 24px;
  width: 4px;
  }
  .bg-decor div:last-child {
   height: 256px;
   width: 4px;
    background: rgba(177, 222, 219, 0.15);
  }
  .bg-decor div:last-child > div {
    width: 4px;
    height: 106px;
    background: #B1DEDB;
  }

  .slider-content {

    background: url(img/slider-bg-m.svg) no-repeat;
    }
    .slider-triangle-bg {
     display: block;
     position: absolute;
     bottom: 0;
     right: 0;
    }


}
@media (min-width: 1300px) {
  .container {
    max-width: 1288px;
  }
  .main-first-page-content > img {
    width: 390px;
    height: 252px;
  }
  .main-first-page-content {
    background: url(img/main-page-bg-white-l.svg) no-repeat;
  }
  .main-first-page-content > img {
    bottom: -20px;
    right: -20px;
  }
  .main-first-page-title {
    font-size: 100px;
    line-height: 120px;
    margin-bottom: 92px;
  }
 
  .second-page-content {
    background: url(img/second-page-bg-l.svg) no-repeat;
    padding: 48px 64px 88px 55px;
  }
  
  .second-page-content > h2 {
    font-size: 95px;
    line-height: 110px;;
  }
  
 
 .second-page-services {
    
    margin-top: 118px;

 padding-right: 115px;
  } 
  .second-page-services  p {
    width: 24%;
  }
  
   .second-page-content > h2 > div > span {
    margin: 0 20px;
    font-size: 27px;
line-height: 30px;
  } 
  
  .second-page-bottom-content > div > div {
    padding-right: 350px;
    margin-bottom: 55px;
  }

  .slider-content {

    background: url(img/slider-bg-l.svg) no-repeat;
    }

}