
.header {
  padding-top: 20px;
  font-size: 14px;
  font-family: 'Space Grotesk';
}

.header-content {
  margin: 0 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;

}
.header-nav ul{
  display: none;
}
.header-contact-us {
  display: flex;
  align-items: center;
justify-content: center;
gap: 29px;
}
.header-contact-us button {
  background: #B1DEDB;
border-radius: 3px;
padding: 8px 12px;
font-weight: 500;
font-size: 12px;
line-height: 20px;
}
.mobile-burger-button {
  background: url(img/burger-icon.svg) center no-repeat;
  width: 32px;
  height: 20px;
}

.footer {
  margin-top: 58px;
  padding-bottom: 24px;
}
.footer-content {
  background: url(img/footer-bg-xs.svg) no-repeat;
  display: flex;
  flex-wrap: wrap;
  padding: 90px 12px 0px 12px;
  position: relative;
}
.footer-content div {
  display: flex;
  gap: 28px;
flex-basis: 50%;
flex-direction: column;
}
.footer-content div > nav > ul{
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.footer-content > div > p {
font-family: 'Bai Jamjuree';
font-weight: 500;
font-size: 14px;
line-height: 20px;
text-transform: uppercase;
color: rgba(177, 222, 219, 0.6);
}
.footer-content div > nav > ul >li > a {
font-family: 'Space Grotesk';
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #B1DEDB;
}
.footer-content form {
  margin-top: 80px;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
}
.footer-content form p {
font-family: 'Bai Jamjuree';
font-weight: 600;
font-size: 20px;
line-height: 25px;
text-transform: uppercase;
color: #B1DEDB;
margin-bottom: 16px;
}
.footer-content form > div > input::placeholder {
  font-weight: 300;
}
.footer-content form > div > input {
padding: 8px;
font-family: 'Space Grotesk';
font-weight: 400;
font-size: 16px;
line-height: 22px;
text-align: center;
color: #B1DEDB;
text-align: left;
background: #295061;
border-radius: 4px;
}
.footer-content form > button {
  margin-top: 30px;
  width: fit-content;
  padding: 12px 18px;
border-radius: 3px;
background: #B1DEDB;
font-weight: 500;
font-size: 14px;
display: flex;
justify-content: center;
text-align: center;
text-transform: uppercase;
color: #112C41;
}
.footer .footer-logo-bg {
display: block;
position: relative;
height: 285px;
flex-basis: 100%;
overflow: hidden; 
}
.footer .footer-logo-bg > picture {
  position: absolute;
  top: 127px;
  left: -7px;
}

.footer-arrow-up {
  position: absolute;
  right: 12px;
  bottom: 12px;
}

.footer-privacy-policy {
  margin-top: 24px;
font-family: 'Space Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: right;
color: #B1DEDB;
display: flex;
justify-content: space-between;
}
.footer-privacy-policy a {
  color: #B1DEDB;
}
.phone-display-block {
  display: block;
}

.slider {
  position: relative;
  z-index: 10;
}
.slider-content {
display: flex;
flex-direction: column;
position: relative;
background: url(img/slider-bg-xs.svg) no-repeat;
padding: 60px 0px 151px 12px;
}
.slider-triangle-bg {
 display: none;
}

.slider-title {
  padding-right: 12px;
  margin-bottom: 73px;
}
.slider-title > h2 {
font-weight: 600;
font-size: 50px;
line-height: 60px;
text-transform: uppercase;
color: #112C41;
}
.slider-title > h2 > div > span {
font-size: 15px;
line-height: 18px;
text-transform: uppercase;
color: rgba(17, 44, 65, 0.5);

}
.pr-10 {
  padding-right: 10px;
}


.swiper-title p {
font-weight: 500;
font-size: 14px;
line-height: 24px;
text-transform: uppercase;
color: rgba(17, 44, 65, 0.6);
margin: 30px 0;
}

.swiper-button-prev::after {
 display: none;
}
.swiper-button-next::after {
display: none;
}
.swiper{
  display: flex;
flex-direction: column;
 width: 324px;
 height: 244px;
}
.swiper-slide {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 29px;
  background: #DCF2F2;
border-radius: 20px;

}

.swiper-slide h3{
  font-weight: 500;
font-size: 13px;
line-height: 16px;
text-transform: uppercase;
color: rgba(17, 44, 65, 0.6);
margin-bottom: -9px;

}

.swiper-slide p{
font-family: 'Space Grotesk';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
color: #1E4357;
}

.swiper-slide-active p {
  font-size: 20px;
}
.swiper-slide-active {
  background: #9CE5E1;
}
.swiper-slide-active.slide2 {
  gap: 0;
}
 
.swiper-slide-active.slide2 h3 {
  margin-bottom: 20px;
}
.swiper-slide-active.slide3 p{
line-height: 17px;
}


.swiper-slide img {
  align-self: flex-end;
  display: block;
  width: 43px;
  height: 43px;
}

.slide3 img{
  width: 36px;
  height: 28px;
}

.swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
  position: relative !important;
  width: 94% !important;
  background: rgba(17, 44, 65, 0.1);
}
.swiper-scrollbar-drag {
  background: #B1DEDB !important;
}


.images-block-content {
margin-top: -180px;
  position: relative;
padding: 260px 12px 0px 12px;
background: #0B2030;
  overflow: hidden;
}
.images-block-triangle-bg {
  z-index: 1;
  position: absolute;
bottom: 0;
right: 0;
width: 100px;
}

.images-block-title {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 36px;
margin-bottom: 28px;
}
.images-block-title h2 {
font-weight: 600;
font-size: 40px;
line-height: 46px;
text-transform: uppercase;
color: #B1DEDB;
}
.images-block-title button {

padding: 16px 20px;
background: #B1DEDB;
border-radius: 3px;
display: flex;
align-items: center;
justify-content: center;
font-family: 'Space Grotesk';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 20px;
text-transform: uppercase;
color: #112C41;
}

.images-block-photos {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
}
.images-block-photos div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
}

.order-4 {
  order: 4;
}


.static-block {
  position: relative;
  top: 40px; 
}
[class*='mooving-block'] {
  position: relative;
  /* top: 70px; */
  transition: all ease 0.3s;
}
@media (min-width: 640px) {
  .header-contact-us button {
    font-size: 14px;
    padding: 12px 18px;
  }
  .footer-content {
    background: url(img/footer-bg-s.svg) no-repeat;
  }
  .footer .footer-logo-bg > picture {
    top: 100px;
    left: 20px
  }
  .footer .footer-logo-bg > picture > img {
    width: 450px;
    height: 170px;
  }
  
  .swiper {
    width: 550px;
  }
  .slider-title > h2 > div > span {
    font-size: 20px;
  }
  .slider-title > h2 {
    font-size: 70px;
    line-height: 70px;
  }
  .tablet-ml-135 {
    margin-left: 135px;
  }
  .tablet-txt-al-cent {
    text-align: center;
  }
  .slider-content {
    margin: 0 -10px;
    background: url(img/slider-bg-s.svg) no-repeat;
    }
    .images-block-content {
      margin-left: -10px;
      margin-right: -10px;

    }
   

}
@media (min-width: 1024px) {

  .header-content {
    margin: 0 -10px;
  }
  .header-nav ul{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 72px;
  }
  .header-nav ul > li > a{
    font-weight: 400;
    color: rgba(177, 222, 219, 0.8);
  }

  .header-nav ul > li > a.active {
    color: #B1DEDB;;
  }
  .mobile-burger-button {
    display: none;
  }
  .footer-content div {
    flex-basis: 25%;
  }
  .footer-content form {
    flex-basis: 40%;
    margin-top: 0;
  }
  .footer-content {
    margin: 0 -10px;
    background: url(img/footer-bg-m.svg) no-repeat;
    padding: 90px 250px 0px 130px;
     }
     .footer .footer-logo-bg {
      overflow: visible;
      height: 365px;
     }    
     .footer .footer-logo-bg > picture {
 
      top: 100px;
      left: 20px
    }
    .footer .footer-logo-bg > picture > img {
      width: unset;
      height: unset;
    }
    .footer-arrow-up {
      right: 22px;
      bottom: 22px;
    }

    .swiper {
      height: 300px;
      width: 740px;
    }
    .swiper-slide p {
      font-size: 22px;
      line-height: 26px;
    }
       
.swiper-slide-active p {
font-size: 28px;
line-height: 32px;
}
.slider-content {
  padding: 48px 0px 53px 64px;
  background: url(img/slider-bg-m.svg) no-repeat;
  }

  .swiper-content {
    display: flex;
    gap: 44px;
  }
  .swiper-button-next, .swiper-button-prev {
    position: unset !important;
    width: 68px !important;
height: 68px !important;
background: rgba(156, 171, 179, 0.1) !important;
border-radius: 100px;
backdrop-filter: blur(15px);
  }
   .swiper-button-next::after, .swiper-button-prev::after {
  
display: block;
font-size: 30px !important;
  } 
  .swiper-button-next::after {
    content: url(img/slider-next-arrow.svg) !important;
  }
  .swiper-button-prev::after {
    content: url(img/slider-prev-arrow.svg) !important;
  }
 .swiper-buttons {
  display: flex;
  gap: 10px;
 }
  .swiper-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
.slider-triangle-bg {
  display: block;
position: absolute;
z-index: 11;
bottom: 0;
right: 0px;
}
.swiper-scrollbar {
  margin-bottom: 56px;
}
.slider-title > h2 {
  font-size: 75px;
  line-height: 78px;
}
.slider-title > h2 > div > span {
  font-size: 25px;
}
.m-display-none {
  display: none;
}
.tablet-txt-al-cent {
  text-align: left;
}
.tablet-ml-135 {
  margin-left: 0;
}
.slider-title {
  margin-bottom: 60px;
}
.order-4 {
  order: -1;
}
.images-block-content {
  padding: 260px 0px 0px 0px;

}
.images-block-photos {
  gap: 11px;
}

.images-block-title {
  flex-direction: row;
  align-items: flex-end;
  padding: 0px 75px 0px 258px;
}
.images-block-title {
   margin-bottom: 110px; 
}
.static-block {
  top: 70px;
}
.images-block-title h2 {
  font-size: 65px;
  line-height: 80px;
}
.images-block-title button {
  padding: 12px 18px;
  flex-shrink: 0;
}
}
@media (min-width: 1300px) {
  .footer-content {
    background: url(img/footer-bg-l.svg) no-repeat;
    
  }
  .footer .footer-logo-bg > picture {
    top: 105px;
    left: -35px
  }
  .slider-content {
    background: url(img/slider-bg-l.svg) no-repeat;
    padding-bottom: 63px;
    }

    .slider-title > h2 {
      font-size: 85px;
      line-height: 100px;
    }
    .pad-l-100-desktop {
      padding-left: 100px;
    }
    .swiper {
      width: 1030px;
      height: 340px;
    }
    .slider-content {
      margin: 0 -10px;
    }
    .images-block-photos {
      gap: 15px;
    }

  .images-block-picture-l, .images-block-picture-m {
    width: unset;
  }
  .images-block-title h2 {
    font-size: 85px;
    line-height: 100px;
  }
  }