*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

:root {
  --bg-size: 88vw;
}

body.scroll-off {
  overflow: hidden;
}
.container {
  padding: 0px 12px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}
body {
  background: url(img/lines-bg-dark-blue-xs.svg) center repeat-y #112C41;
  background-size: var(--bg-size);
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 600;
}
.header {
  position: sticky;
  top: 0;
  z-index: 12;
  background: url(img/lines-bg-dark-blue-xs.svg) center repeat-y #112C41;
  background-size: var(--bg-size);
  padding-bottom: 24px;
  padding-top: 20px;
  font-size: 14px;
  font-family: 'Space Grotesk';
height: auto;
width: auto;
transition: all ease 0.4s;
}


.header-content {
  margin: 0 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;

}
.header-nav ul{
  display: none;
}
.header-contact-us {
  display: flex;
  align-items: center;
justify-content: center;
gap: 29px;
}
.header-contact-us button {
  background: #B1DEDB;
border-radius: 3px;
padding: 8px 12px;
font-weight: 500;
font-size: 12px;
line-height: 20px;
}
.header-contact-us .mobile-burger-button {
  background: url(img/burger-icon.svg) center no-repeat;
  width: 32px;
  height: 20px;
}

.footer {
  margin-top: 57px;
  padding-bottom: 24px;
}
.footer-content-navigation {
  display: flex;
  flex-wrap: wrap;
  padding: 90px 12px 0px 12px;
}
.footer-content {
  /* background: url(img/footer-bg-xs.svg) no-repeat;
   */
   background: url(img/lines-bg-dark-blue-xs.svg) center repeat-y #2E5B6E;
   background-size: var(--bg-size);
  
  position: relative;
  /* border-top-left-radius: 75px; */
 /* border-bottom-right-radius: 135px; */
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
-webkit-clip-path: url(#main-page-s);
clip-path: url(#main-page-s);
}
/* .footer-content:before {
  content: '';
  width: 68px;
  height: 68px;
  position: absolute;
  left: 0;
  top: 0;
  background: #112C41;
  background-size: cover;
  -webkit-clip-path: url(#mobile-top-left);
  clip-path: url(#mobile-top-left);
}
.footer-content:after {
  content: '';
  width: 126px;
  height: 126px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  background: #112C41;
  background-size: cover;
  -webkit-clip-path: url(#mobile-bottom-right);
  clip-path: url(#mobile-bottom-right);
}  */

.footer-content-navigation div {
  display: flex;
  gap: 28px;
flex-basis: 50%;
flex-direction: column;
}
.footer-content-navigation div > nav > ul{
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.footer-content-navigation > div > p {
font-family: 'Bai Jamjuree';
font-weight: 500;
font-size: 14px;
line-height: 20px;
text-transform: uppercase;
color: rgba(177, 222, 219, 0.6);
}
.footer-content-navigation div > nav > ul >li > a,.footer-content-navigation div > nav > ul >li > button {
font-family: 'Space Grotesk';
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #B1DEDB;
background-color: transparent;
}
.footer-content-navigation form {
  margin-top: 80px;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
}
.footer-content-navigation form p {
font-family: 'Bai Jamjuree';
font-weight: 600;
font-size: 20px;
line-height: 25px;
text-transform: uppercase;
color: #B1DEDB;
margin-bottom: 16px;
}
.footer-content-navigation form > div > input::placeholder {
  font-weight: 300;
}
.footer-content-navigation form > div > input {
padding: 8px;
font-family: 'Space Grotesk';
font-weight: 400;
font-size: 16px;
line-height: 22px;
text-align: center;
color: #B1DEDB;
text-align: left;
background: #295061;
border-radius: 4px;
}
.footer-content-navigation form > button {
  margin-top: 30px;
  font-family: 'Space Grotesk';
  line-height: 20px;
  width: fit-content;
  padding: 12px 18px;
border-radius: 3px;
background: #B1DEDB;
font-weight: 500;
font-size: 14px;
display: flex;
justify-content: center;
text-align: center;
text-transform: uppercase;
color: #112C41;
}
.footer .footer-logo-bg {
  margin-top: 265px;
  padding-bottom: 48px;
display: block;
position: relative;
flex-basis: 100%;
overflow: hidden; 
}
.footer .footer-logo-bg > picture {
  position: relative;
  top: 0px;
  left: calc(50% - 156px);
}

.footer-arrow-up {
  z-index: 1;
  position: absolute;
  right: 12px;
  bottom: 12px;
}

.footer-privacy-policy {
  margin-top: 24px;
font-family: 'Space Grotesk';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
text-align: right;
color: #B1DEDB;
display: flex;
justify-content: space-between;
}
.footer-privacy-policy > div {
  display: flex;
  flex-direction: row-reverse;
  gap: 17px;
}
.footer-privacy-policy a {
  color: #B1DEDB;
}

.phone-display-block {
  display: block;
}

.slider {
  position: relative;
  z-index: 10;
}
.slider-content {
display: flex;
flex-direction: column;
position: relative;
/* background: url(img/slider-bg-xs.svg) no-repeat; */
background: url(img/lines-bg-dark-white-xs.svg) center repeat-y #fff;
background-size: var(--bg-size);
padding: 60px 0px 151px 12px;
/* border-top-left-radius: 75px; */
/* border-bottom-right-radius: 135px; */
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
-webkit-clip-path: url(#slider-bg-s);
clip-path: url(#slider-bg-s);
}

.svg {
 position: absolute;
 width: 0;
 height: 0;
}
/* .slider-content:before {
 content: '';
 width: 68px;
 height: 68px;
 position: absolute;
 left: 0;
 top: 0;
 background: #213E50;
 background-size: cover;
 -webkit-clip-path: url(#mobile-top-left);
 clip-path: url(#mobile-top-left);
}
.slider-content::after {
  z-index: 15;
 content: '';
 width: 126px;
 height: 126px;
 position: absolute;
 bottom: 0px;
 right: 0px;
 background: #0B2030;
 background-size: cover;
 -webkit-clip-path: url(#mobile-bottom-right);
 clip-path: url(#mobile-bottom-right);
}  */

/* .images-block-content:after {
 content: '';
 width: 126px;
 height: 126px;
 position: absolute;
 bottom: 0px;
 right: 0px;
 background: #112C41;
 background-size: cover;
 -webkit-clip-path: url(#mobile-bottom-right);
 clip-path: url(#mobile-bottom-right);
}  */

.slider-triangle-bg {
 display: none;
}

.slider-title {
  padding-right: 12px;
  margin-bottom: 73px;
}
.slider-title > h2 {
font-weight: 600;
font-size: 50px;
line-height: 60px;
text-transform: uppercase;
color: #112C41;
}
.slider-title > h2 > div > span {
font-size: 15px;
line-height: 18px;
text-transform: uppercase;
color: rgba(17, 44, 65, 0.5);

}
.pr-10 {
  padding-right: 10px;
}


.swiper-title p {
  position: relative;
font-weight: 500;
font-size: 14px;
line-height: 24px;
text-transform: uppercase;
color: rgba(17, 44, 65, 0.6);
margin: 28px 0px 29px 12px;
}
.swiper-title p::before {
  content: '';
  position: absolute;
  left: -12px;
  width: 2px;
  height: 24px;
  background: #B1DEDB;
} 
.swiper-button-prev::after {
 display: none;
}
.swiper-button-next::after {
display: none;
}
.swiper{
  display: flex;
flex-direction: column;
 width: 100%;
 height: 244px;
}
.swiper-slide {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 29px;
  background: #DCF2F2;
border-radius: 20px;

}

.swiper-slide h3{
  font-weight: 500;
font-size: 13px;
line-height: 16px;
text-transform: uppercase;
color: rgba(17, 44, 65, 0.6);
margin-bottom: -9px;

}

.swiper-slide p{
font-family: 'Space Grotesk';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
color: #1E4357;
}

/* .swiper-slide-active p {
  font-size: 20px;
} */
.swiper-slide-active {
  background: #9CE5E1;
}
.swiper-slide-active.slide2 {
  gap: 0;
}
 
.swiper-slide-active.slide2 h3 {
  margin-bottom: 20px;
}


.swiper-slide picture {
  align-self: flex-end;
  margin-top: auto;
  display: block;
}

.slide3 img{
  width: 36px;
  height: 28px;
}

.swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
  position: relative !important;
  width: 94% !important;
  background: rgba(17, 44, 65, 0.1);
}
.swiper-scrollbar-drag {
  background: #B1DEDB !important;
}


.images-block-content {
 
border-bottom-left-radius: 20px;
margin-top: -10px;
  position: relative;
padding: 90px 12px 0px 12px;
 background: url(img/lines-bg-dark-blue-xs.svg) center repeat-y #0B2030;
 background-size: var(--bg-size);
  /* overflow: hidden; */
  /* border-bottom-right-radius: 135px; */
  -webkit-clip-path: url(#second-page-s);
 clip-path: url(#second-page-s);
}


.images-block-title {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 36px;
margin-bottom: 25px;
}
.images-block-title h2 {
font-weight: 600;
font-size: 40px;
line-height: 46px;
text-transform: uppercase;
color: #B1DEDB;
}
.images-block-title button {

padding: 16px 20px;
background: #B1DEDB;
border-radius: 3px;
display: flex;
align-items: center;
justify-content: center;
font-family: 'Space Grotesk';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 20px;
text-transform: uppercase;
color: #112C41;
}

.images-block-photos {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  /* border-bottom-right-radius: 115px; */

}

.images-block-photos div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
}

.order-4 {
  order: 4;
}


.static-block {
  position: relative;
  top: 40px; 
}
[class*='mooving-block'] {
  position: relative;
  /* top: 70px; */
  transition: all ease 0.3s;
}
.hide {
  opacity: 0;
  visibility: hidden;
}
.burger-menu, .contact-us-menu, .careers-menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url(img/lines-bg-dark-blue-xs.svg) center repeat-y #112C41;
  background-size: var(--bg-size);
  z-index: 50;
  opacity: 0;
  visibility: hidden;
  overflow: auto;
/* transition: all ease 0.3s; */
/* height: 120vh; */
/* padding-bottom: 20vh; */
}
.burger-menu.active, .contact-us-menu.active, .careers-menu.active {
opacity: 1;
visibility: visible;
}
.burger-menu-content {
  height: 100%;
  padding: 16px 24px 24px 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 640px;
  margin: auto;
overflow: auto;
}
.burger-menu-content .content {
  display: flex;
  flex-direction: column;
gap: 60px;
}
.burger-menu-content .top-content {
  display: flex;
  flex-direction: column;
  gap: 131px;
font-family: 'Bai Jamjuree';
font-weight: 600;
font-size: 45px;
line-height: 50px;
text-transform: uppercase;
color: #B1DEDB;
}
.burger-menu-content .top-content > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger-close-button, .contact-us-close-button  {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
height: 36px;
background: rgba(177, 222, 219, 0.05);
border: 0.6px solid rgba(177, 222, 219, 0.2);
border-radius: 25.2px;
}
.burger-close-button img, .contact-us-close-button img {
  display: block;
}
.burger-nav > nav > ul{
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-bottom: 25px;
}
.burger-nav > nav > ul > li > a {
  font-family: 'Space Grotesk';
font-weight: 400;
font-size: 24px;
line-height: 28px;
color: rgba(177, 222, 219, 0.8);
}
.burger-bottom, .burger-bottom a {
  display: flex;
  justify-content: space-between;
  font-family: 'Space Grotesk';
font-weight: 400;
font-size: 13px;
line-height: 24px;
color: #B1DEDB;
}
.burger-bottom a {
  margin-left: -8px;
}
.contact-us-decor {
position: fixed;
left: 0px;
top: calc(50% - 75px);
width: 3px;
height: 24px;
background: #B1DEDB;
}
.block-right {
  display: block;
  text-align: right;
}
.mr-20 {
  margin-right: 20px;
}
.careers-menu .contact-us-content {
  gap: 10px;
}
.contact-us-content {
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 56px;
  height: 100%;
  padding: 16px 24px 24px 24px;
  margin: auto;

}
.contact-us-inner-content > h2 > div, .light-text {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 44px;
  text-transform: uppercase;
  color: #B1DEDB;
  
}
.contact-us-inner-content .dark {
font-size: 15px;
text-transform: uppercase;
color: rgba(177, 222, 219, 0.5);

}
.contact-us-inner-content p {
  font-family: 'Bai Jamjuree';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
text-transform: uppercase;
color: #B1DEDB;
margin-bottom: 25px;
}
.contact-us-inner-content > form {
display: flex;
flex-direction: column;
gap: 20px;
}

.contact-us-inner-content > form >div > input {
  background: #0B2030;
  border-radius: 4px;
  padding: 16px 10px;
  width: 100%;
  color: #B1DEDB;;
}
.contact-us-inner-content > form >div > input::placeholder, .contact-us-inner-content > form label {
font-family: 'Space Grotesk';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 28px;
color: #B1DEDB;
}

.contact-us-close-button {
  align-self: flex-end;
}
.contact-us-submit-button  {
  margin-top: 16px;
}
.contact-us-submit-button button{
  background: #B1DEDB;
border-radius: 3px;
  font-family: 'Space Grotesk';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 100%;
text-transform: uppercase;
color: #112C41;
padding: 18px 28px;
display: flex;
justify-content: center;
align-items: center;
margin-left: auto;
margin-right: auto;
width: fit-content;
}

.images-block-content-wrapper {
background: url(img/lines-bg-dark-blue-xs.svg) center repeat-y #0B2030;
background-size: var(--bg-size);
    padding-top: 210px;
    margin-top: -210px;
    border-bottom-right-radius: 370px;
    border-bottom-left-radius: 20px;
}
.footer-content-wrapper {
position: relative;
}
.lh-20.dark {
  line-height: 30px;
  font-size: 16px;
margin-bottom: 25px;
margin-top: 20px;
}
@media(min-width: 480px) {
  :root {
     --bg-size: 435px; 
  }
}
@media (min-width: 640px) {
  .header-contact-us button {
    font-size: 14px;
    padding: 12px 18px;
  }

  .footer .footer-logo-bg > picture {
    top: 20px;
    left: 60px 
  }

  
  .swiper {
    width: 600px;
  }
  .slider-title > h2 > div > span {
    font-size: 20px;
  }
  .slider-title > h2 {
    font-size: 70px;
    line-height: 70px;
  }
  .tablet-ml-135 {
    margin-left: 135px;
  }
  .tablet-txt-al-cent {
    text-align: center;
  }
  .slider-content {
    margin: 0 -12px;
    /* background: url(img/slider-bg-s.svg) no-repeat; */
    }
    .images-block-content-wrapper {
      margin-left: -12px;
      margin-right: -12px;

    }
   
    .contact-us-decor {
      top: calc(50% - 20px);
      
    }
    .contact-us-inner-content > h2 > div {
font-size: 60px;
line-height: 60px;
    }

    .contact-us-inner-content .dark {
font-size: 19px;
    }
    .footer-content {
      margin: 0 -12px;
    }
    .container {
      max-width: 610px;
    }
    :root {
      --bg-size: 590px
    }
    .contact-us-content {
      margin: 0 -12px;
      padding: 16px 36px 24px 36px;
    }
}
@media (min-width: 1024px) {
  .pad-l-100-desktop {
    padding-left: 45px;
  }
  .lh-20.dark {
    line-height: 35px;
    padding-left: 50px;
    }
  :root {
    --bg-size: 494px
  }
  .container {
    max-width: 990px;
  }
  .contact-us-menu, .careers-menu {
    background: url(img/lines-bg-dark-blue.svg) center repeat-y #112C41;
    background-size: var(--bg-size);
    
  }
  .header {
    background: url(img/lines-bg-dark-blue.svg) center repeat-y #112C41;
   padding-top: 24px;
   background-size: var(--bg-size);
  }
  .header-contact-us {
    margin-left: auto;
  }
  body {
    background: url(img/lines-bg-dark-blue.svg) center repeat-y #112C41;
    background-size: var(--bg-size);
  }
  .mobile-display {
display: none;
  }
  .slider-content {
    /* border-top-left-radius: 120px; */
     /* border-bottom-right-radius: 225px; */
     -webkit-clip-path: url(#slider-bg-l);
     clip-path: url(#slider-bg-l);
  }
 /*  .slider-content:before {
    width: 112px;
    height: 112px;
    -webkit-clip-path: url(#desktop-top-left);
    clip-path: url(#desktop-top-left);
  }
  .slider-content:after {
    width: 212px;
    height: 212px;
    -webkit-clip-path: url(#desktop-bottom-right);
    clip-path: url(#desktop-bottom-right);
  }  */
  .header-content {
    margin: 0 -10px;
  }
  .header-nav ul{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 72px;
  }
  .header-nav ul > li > a{
    font-weight: 400;
    color: rgba(177, 222, 219, 0.8);
  }

  .header-nav ul > li > a.active {
    color: #B1DEDB;
  }
  .mobile-burger-button {
    display: none;
  }
  .footer-content-navigation div {
    flex-basis: 25%;
  }
  .footer-content-navigation form {
    flex-basis: 40%;
    margin-top: 0;
  }

   
     .footer .footer-logo-bg {
   border-bottom-right-radius: 200px;
   margin-top: 0px;
     }    
     .footer .footer-logo-bg > picture {
 
      top: 100px;
      left: 20px
    }
 
    .footer-arrow-up {
      right: 22px;
      bottom: 22px;
    }

    .swiper {
      height: 300px;
      width: 798px;
    }
     .swiper-slide p {
      font-size: 16px;
      line-height: 22px;
    } 
       
/* .swiper-slide-active p {
font-size: 28px;
line-height: 32px;
} */

.slider-content {
  padding: 48px 0px 53px 64px;
  background: url(img/lines-bg-dark-white.svg) center repeat-y #fff;
  background-size: var(--bg-size);
  /* background: url(img/slider-bg-m.svg) no-repeat; */
  }

  .swiper-content {
    display: flex;
    gap: 33px;
  }
  .swiper-button-next, .swiper-button-prev {
    position: unset !important;
    width: 44px !important;
height: 44px !important;
background: rgba(156, 171, 179, 0.1) !important;
border-radius: 100px;
backdrop-filter: blur(15px);
  }
   .swiper-button-next::after, .swiper-button-prev::after {
  
display: block;
font-size: 30px !important;
  } 
  .swiper-button-next::after {
    content: url(img/slider-next-arrow.svg) !important;
  }
  .swiper-button-prev::after {
    content: url(img/slider-prev-arrow.svg) !important;
  }
 .swiper-buttons {
  display: flex;
  gap: 10px;
 }
  .swiper-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
.slider-triangle-bg {
  display: block;
position: absolute;
z-index: 11;
bottom: 0;
right: 0px;
}
.swiper-scrollbar {
  margin-bottom: 56px;
}
.slider-title > h2 {
  font-size: 75px;
  line-height: 78px;
}
.slider-title > h2 > div > span {
  font-size: 25px;
  margin-left: 0;
}
.m-display-none {
  display: none;
}
.tablet-txt-al-cent {
  text-align: left;
}
.tablet-ml-135 {
  margin-left: 0;
}
.slider-title {
  margin-bottom: 60px;
}
.order-4 {
  order: -1;
}
.images-block-content-wrapper {
  background: url(img/lines-bg-dark-blue.svg) center repeat-y #0B2030;
  background-size: var(--bg-size);
}
.images-block-content {
  padding: 90px 0px 0px 0px;
  /* border-bottom-right-radius: 225px; */
   background: url(img/lines-bg-dark-blue.svg) center repeat-y #0B2030; 
   background-size: var(--bg-size);
  -webkit-clip-path: url(#second-page-l);
  clip-path: url(#second-page-l);
  
}
.images-block-photos {
  gap: 11px;
}
.images-block-photos div {
  gap: 15px;
}

.images-block-title {
  flex-direction: row;
  align-items: flex-end;
  padding: 0px 75px 0px 201px;
}
.images-block-title {
   margin-bottom: 110px; 
}
.static-block {
  top: 70px;
}
.images-block-title h2 {
  font-size: 65px;
  line-height: 80px;
}
.images-block-title button {
  padding: 12px 18px;
  flex-shrink: 0;
  font-size: 14px;
  margin-bottom: 26px;
}
/* .images-block-content:after {
  width: 212px;
  height: 212px;
  -webkit-clip-path: url(#desktop-bottom-right);
  clip-path: url(#desktop-bottom-right);
} 
.footer-content:after {
  width: 212px;
  height: 212px;
  -webkit-clip-path: url(#desktop-bottom-right);
  clip-path: url(#desktop-bottom-right);
} 
.footer-content:before {
  width: 112px;
  height: 112px;
  -webkit-clip-path: url(#desktop-top-left);
  clip-path: url(#desktop-top-left);
} */
.footer-content {
  /* border-top-left-radius: 120px; */
  /* border-bottom-right-radius: 225px; */
  background: url(img/lines-bg-dark-blue.svg) center repeat-y #2E5B6E;
  background-size: var(--bg-size);
  -webkit-clip-path: url(#main-page-l);
  clip-path: url(#main-page-l);
}
.images-block-photos {
  height: 698px;
  /* border-bottom-right-radius: 225px; */
  border-bottom-left-radius: 20px;
}

.contact-us-content {
  gap: 0px;
  padding-left: 30px;
  padding-right: 30px;
}
.block-right {
  display: inline;
}
.contact-us-inner-content > form {
  max-width: 644px;
  margin: auto;
}
.contact-us-inner-content p {
  position: relative;
  top: 55px;
}

.contact-us-decor {
  top: calc(50% - 30px);
}
.pl-150 {
  padding-left: 150px;
}

.pl-10 {
  padding-left: 10px;
}
.mr-20 {
  margin: 0 30px;
}
.ml-10 {
  margin-left: 10px;
}
.contact-us-inner-content > h2 > div, .light-text  {
  font-size: 80px;
  line-height: 80px;
}
.burger-close-button, .contact-us-close-button {
  width: 60px;
  height: 60px;
  border-radius: 60px;
}
.swiper-title p::before {
  display: none;
}
.swiper-title p {
  margin-top: -2px;
  margin-left: 0;
}


.footer-content-navigation {
  padding: 100px 271px 0px 86px;
  gap: 6px;
}
.static-block.streight-corners >picture > img{
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}
.header-content {
  gap: 125px;
}
.footer-privacy-policy {
  font-size: 16px;
  gap: 12px;
}
.footer-privacy-policy :nth-child(2) {
  margin-left: auto;
}
}


@media (min-width: 1300px) {
  .lh-20.dark {
    font-size: 20px;
  }
  .contact-us-content {
    padding-left: 36px;
    padding-right: 36px;
  }
  .images-block-title {
    padding: 0px 75px 0px 258px;
  }
  .contact-us-inner-content > h2 > div, .light-text  {
    line-height: 100px;
  }
  .swiper-button-next, .swiper-button-prev {
    width: 68px !important;
    height: 68px !important;
  }
  .swiper-content {
    gap: 44px;
  } 
  .swiper-slide p {
    font-size: 20px;
    line-height: 32px;
  } 
  :root {
    --bg-size: unset;
  }
  .container {
    max-width: 1288px;
  }
  .header-content {
    gap: 233px;
  }
  .footer-content-navigation {
    padding-left: 130px;
  }
  .footer-content-navigation form p {
    font-size: 26px;
    line-height: 32px;
  }
  .footer {
    margin-top: 80px;
  }
 
  .footer-content-navigation div {
    flex-basis: 21%;
        }
       
        .footer-content-navigation form {
          flex-basis: 42%;
          margin-top: -5px;

        }
        .footer .footer-logo-bg {
        padding-bottom: 31px;
        }
        .footer-content-navigation form > button {
          margin-top: 24px;
        }
        .footer-content-navigation form > div > input {
          padding: 13px 8px;
        }
  .swiper-slide {
    padding: 28px;
  }
  .swiper-slide h3 {
    font-size: 14px;
    line-height: 20px;
  }
  
  .images-block-title {
  gap: 85px;
  }

  .footer .footer-logo-bg > picture {
    top: 89px;
    left: 94px
  }
  .slider-content {
    /* background: url(img/slider-bg-l.svg) no-repeat; */
    padding-bottom: 63px;
    }

    .slider-title > h2 {
      font-size: 85px;
      line-height: 100px;
    }
    .pad-l-100-desktop {
      padding-left: 65px;
    }
    .pr-10 {
      padding-right: 28px;
    }
    .swiper {
      width: 1030px;
      height: 340px;
    }
   
    .images-block-photos {
      gap: 15px;
    }

  .images-block-picture-l, .images-block-picture-m {
    width: unset;
  }
  .images-block-title h2 {
    font-size: 85px;
    line-height: 100px;
  }
  .footer-privacy-policy {
    margin-left: -12px;
    margin-right: -12px;
    padding: 0;
  }
  }
@media (max-height: 700px) {
  .lh-20.dark {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .contact-us-inner-content > form {
    gap: 5px;
  }
}